.market-chart-wrap {
  margin-bottom: 30px;
  border: 1px solid gray;
  border-radius: 5px; }

.group-item-coin {
  border-radius: 5px;
  border: 1px solid gray; }
  .group-item-coin h4 {
    font-weight: bold; }
  .group-item-coin .coin-item-title {
    font-weight: bold; }
  .group-item-coin .coin-item {
    position: relative;
    margin-bottom: 10px;
    padding: 15px; }
    .group-item-coin .coin-item:not(:last-child)::after {
      content: '';
      position: absolute;
      width: 95%;
      height: 1px;
      background: gray;
      top: 50px;
      right: 10px; }
    .group-item-coin .coin-item .pull-right {
      display: -webkit-inline-box; }
      .group-item-coin .coin-item .pull-right .triangle-down {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid orange; }
      .group-item-coin .coin-item .pull-right .line-icon {
        margin-top: 7px;
        width: 10px;
        margin-left: 5px;
        height: 2px;
        margin-right: 5px;
        background: black; }

.order-book .panel-wrap {
  border: 1px solid gray; }
  .order-book .panel-wrap .order-book-content {
    margin-top: 30px;
    padding: 20px; }

.buy-coin .panel {
  border: 1px solid gray; }
.buy-coin .form-buy-coin {
  padding: 25px; }
  .buy-coin .form-buy-coin .btn-buy-pet {
    background: #16c1f3;
    border-color: #16c1f3; }
  .buy-coin .form-buy-coin .btn-sell-pet {
    background: #f26c4f; }
  .buy-coin .form-buy-coin .input-group-addon {
    background: none; }
    .buy-coin .form-buy-coin .input-group-addon img {
      width: 16px;
      height: 16px; }

.btn-coin-submit {
  color: white;
  font-weight: bold;
  border-radius: 15px;
  box-shadow: -6px 0px 15px 0px #888888; }

.btn-2 {
  background: none;
  border-radius: 15px;
  border: 1px solid white; }

.table-background > tbody > tr:nth-of-type(2n) {
  background: white !important; }

.btn-caret-item {
  background: orange; }
  .btn-caret-item .fa {
    color: white !important;
    margin: 0px !important; }

.fa-caret-down {
  font-size: 20px !important; }

/*# sourceMappingURL=exchange.css.map */
