.no-padding {
  padding: 0px; }

.navbar-custom {
  border: none;
  border-radius: 0px;
  margin-bottom: 0px; }
  .navbar-custom .navbar-wrap {
    padding: 20px; }
    .navbar-custom .navbar-wrap ul li a {
      color: white;
      font-weight: bold; }
    .navbar-custom .navbar-wrap .dropdown-menu {
      background: #13c1f4 !important; }
  .navbar-custom .img-logo-header {
    width: 200px;
    margin-top: -15px; }

.currency-wrap {
  background: lightskyblue; }
  .currency-wrap .currency-group {
    list-style: none;
    text-align: center;
    color: white; }
    .currency-wrap .currency-group .currency-item {
      padding-right: 25px;
      position: relative;
      display: inline; }
      .currency-wrap .currency-group .currency-item::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 15px;
        background: white;
        top: 1px;
        right: 15px; }

.panel-wrap {
  background: none;
  border: none;
  box-shadow: none; }
  .panel-wrap .panel-heading {
    background: #16c1f3;
    border-radius: 5px 5px 0px 0px;
    color: white; }
    .panel-wrap .panel-heading .panel-title {
      font-size: 12px;
      padding-top: 8px;
      /*    &::after{
            content: '';
            position: absolute;
            width: 2px;
            height: 20px;
            background: white;
            top: 4px;
            right: 8px;
        }*/ }
    .panel-wrap .panel-heading .form-search-heading {
      background: none;
      width: 100px;
      border-radius: 15px;
      border: 2px solid white; }
    .panel-wrap .panel-heading .btn-refresh {
      background: none;
      border: 2px solid white;
      border-radius: 15px;
      width: 40px; }
      .panel-wrap .panel-heading .btn-refresh .fa {
        color: white; }
  .panel-wrap .panel-body {
    padding: 0px; }
    .panel-wrap .panel-body table {
      margin-bottom: 0px; }
      .panel-wrap .panel-body table thead tr {
        font-size: 12px; }
        .panel-wrap .panel-body table thead tr th {
          text-align: center; }
    .panel-wrap .panel-body tbody tr {
      background: #ebebeb; }
      .panel-wrap .panel-body tbody tr td {
        text-align: center; }
        .panel-wrap .panel-body tbody tr td .fa {
          color: #16c1f3;
          margin: 2px; }
  .panel-wrap .panel-footer {
    background: none; }
  .panel-wrap .pagination-wrap {
    margin: 0px 40px 45px 0px;
    float: right; }
    .panel-wrap .pagination-wrap a {
      border-radius: 15px !important;
      margin: 2px;
      padding: 0px 12px; }
  .panel-wrap .row-pagiantion {
    text-align: right; }
    .panel-wrap .row-pagiantion .pagination-wrap-number {
      margin: 0px 10px 45px 10px; }
    .panel-wrap .row-pagiantion .pagination-wrap-2 {
      margin: 0px 0px 45px 0px; }
      .panel-wrap .row-pagiantion .pagination-wrap-2 a {
        border-radius: 15px !important;
        margin: 2px; }

.panel-title-top {
  padding-bottom: 10px;
  font-weight: bold; }

.form-input-select {
  position: relative;
  display: inline !important;
  display: block;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
  margin-top: 9px;
  margin-bottom: 15px;
  width: 100%; }
  .form-input-select::before, .form-input-select::after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;
    border: 1px solid transparent;
    width: 0;
    height: 0;
    right: 10px; }
  .form-input-select::before {
    bottom: 55%;
    border-width: 0 3.5px 8px 3.5px;
    border-bottom-color: white; }
  .form-input-select::after {
    border-width: 8px 3.5px 0 3.5px;
    border-top-color: white;
    top: 55%; }
  .form-input-select select {
    width: 55px;
    background: none;
    border: 2px solid white;
    border-radius: 15px;
    font-weight: 400;
    color: inherit;
    line-height: normal;
    transition: border-color 0.2s ease, outline 0.2s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: ''; }
    .form-input-select select option {
      color: black; }

.deposit-withdraw {
  margin-top: 40px; }

@media (min-width: 992px) {
  .account-balances .panel-wrap .panel-heading .panel-title::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 20px;
    background: white;
    top: 4px;
    right: 10px; } }
.panel-shadow {
  box-shadow: 0px 0px 15px 0px #888888; }

/*Footer*/
footer {
  padding: 1rem;
  background-color: transparent;
  text-align: left; }
  footer .footer-content {
    padding: 10px 0; }

.footer-page {
  border-top: 2px solid rgba(221, 231, 236, 0.48); }
  .footer-page .group-footer-1 .logo-footer {
    width: 100%; }
  .footer-page .group-footer-1 .information-footer {
    color: white !important;
    text-align: left;
    font-size: 13px; }
    .footer-page .group-footer-1 .information-footer .email-footer {
      color: yellow !important; }
  .footer-page .group-footer-2 {
    color: white;
    font-size: 13px;
    padding-left: 10%;
    padding-top: 28px; }
    .footer-page .group-footer-2 .footer-2-header {
      font-weight: bold;
      font-size: 16px; }
    .footer-page .group-footer-2 .footer-2-list {
      text-align: left;
      list-style: none;
      padding-top: 0px;
      padding-left: 0px;
      margin-bottom: 15px; }
      .footer-page .group-footer-2 .footer-2-list li {
        margin-bottom: 5px; }
        .footer-page .group-footer-2 .footer-2-list li a {
          color: white !important; }
        .footer-page .group-footer-2 .footer-2-list li:before {
          content: '>';
          padding-right: 5px;
          display: inline-block; }
  .footer-page .group-footer-3 {
    font-size: 13px; }
    .footer-page .group-footer-3 img {
      width: 100%;
      padding: 15px !important; }
    .footer-page .group-footer-3 .copy-right img {
      width: 85px; }

@media (min-width: 992px) {
  .panel-wrap .panel-heading .panel-title::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 20px;
    background: white;
    top: 4px;
    right: 8px; } }
@media (max-width: 480px) {
  .panel-wrap .panel-heading .form-search-heading {
    width: 92px; }
  .panel-wrap .panel-body .table thead tr {
    font-size: 8px !important; } }
@media (min-width: 992px) and (max-width: 1200px) {
  .panel-wrap .panel-heading .form-search-heading {
    width: 80px; } }
.container-group {
  background: #f3f3f3;
  border-radius: 10px; }

/*# sourceMappingURL=style.css.map */
