$blue-color: #16c1f3;
$gray-color-bold: #ebebeb;
$gray-color: #f3f3f3;
.no-padding{
  padding: 0px;
}
.navbar-custom {
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;
  .navbar-wrap {
    padding: 20px;
    ul{
      li{
        a{
          color: white;
          font-weight: bold;
        }
      }
    }
    .dropdown-menu{
      background: #13c1f4 !important;
    }
  }
  .img-logo-header {
    width: 200px;
    margin-top: -15px;
  }
}
.currency-wrap{
  background: lightskyblue;
  .currency-group{
    list-style: none;
    text-align: center;
    color: white;
    .currency-item{
      padding-right: 25px;
       position: relative;
      display: inline;
      &::after{
        content: '';
        position: absolute;
        width: 2px;
        height: 15px;
        background: white;
        top: 1px;
        right: 15px;
      }
    }
  }
}
.panel-wrap{
  background: none;
  border: none;
  box-shadow: none;
  .panel-heading{
    background: $blue-color;
    border-radius: 5px 5px 0px 0px;
    color: white;
    .panel-title{
      font-size: 12px;
      padding-top: 8px;
  /*    &::after{
        content: '';
        position: absolute;
        width: 2px;
        height: 20px;
        background: white;
        top: 4px;
        right: 8px;
    }*/
    }
    .form-search-heading{
      background: none;
      width: 100px;
      border-radius: 15px;
      border: 2px solid white;
    }
    .btn-refresh{
      background: none;
      border: 2px solid white;
      border-radius: 15px;
      width: 40px;
      .fa{
        color: white;
      }
    }
  }
  .panel-body{
    padding: 0px;
    table{
      margin-bottom: 0px;
      thead{
        tr{
          font-size:12px;
          th{
            text-align: center;
          }
        }
      }
    }
    tbody{
      tr{
        background: $gray-color-bold;
        td{
          text-align: center;
          .fa{
            color: $blue-color;
            margin: 2px;
          }
        }
      }
    }
  }
  .panel-footer{
    background: none;
  }
  .pagination-wrap{
    margin: 0px 40px 45px 0px;
    float: right;
    a{
      border-radius: 15px !important;
      margin: 2px;
      padding: 0px 12px;
    }
  }
  .row-pagiantion{
    text-align: right;
    .pagination-wrap-number{
      margin: 0px 10px 45px 10px;
    }
    .pagination-wrap-2{
      margin: 0px 0px 45px 0px;
      a{
        border-radius: 15px !important;
        margin: 2px;
      }
    }
  }
}
.panel-title-top{
  padding-bottom: 10px;
  font-weight: bold;
}

.form-input-select {
  position: relative;
  display: inline !important;
  display: block;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
  margin-top: 9px;
  margin-bottom: 15px;
  width: 100%;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none; // Arrow clickable in some browsers

    // triangle set up
    border: 1px solid transparent; // reset all borders
    width: 0;
    height: 0;
    right: 10px;
  }

  // top arrow
  &::before {
    bottom: 55%;
    border-width: 0 3.5px 8px 3.5px;
    border-bottom-color: white;
  }

  // bottom arrow
  &::after {
    border-width: 8px 3.5px 0 3.5px;
    border-top-color: white;
    top: 55%;
  }
  select {
    width: 55px;
    background: none;
    border: 2px solid white ;
    border-radius: 15px;
    font-weight: 400;
    color: inherit;
    line-height: normal;
    transition: border-color 0.2s ease,
    outline 0.2s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    option{
      color: black;
    }

  }
}

.deposit-withdraw{
  margin-top: 40px;
}
@media (min-width: 992px){
  .account-balances{
    .panel-wrap{
      .panel-heading{
        .panel-title {
          &::after {
            content: '';
            position: absolute;
            width: 2px;
            height: 20px;
            background: white;
            top: 4px;
            right: 10px;
          }
        }
      }
    }
  }
}

.panel-shadow{
    box-shadow:  0px 0px 15px 0px #888888;
}



/*Footer*/
// Footer
footer {
  padding: 1rem;
  background-color: transparent;
  text-align: left;
  //border-top: 6px solid #e18d84;
  //position: absolute;
  //bottom: 0;
  //width: 100%;
  .footer-content {
    padding: 10px 0;
  }
}

.footer-page{
  border-top: 2px solid rgba(221, 231, 236, 0.48);
  .group-footer-1{
    .logo-footer{
      width: 100%;
    }
    .information-footer{
      color: white !important;
      text-align: left;
      font-size: 13px;
      .email-footer{
        color: yellow !important;
      }
    }
  }
  .group-footer-2{
    color: white;
    font-size: 13px;
    padding-left: 10%;
    padding-top: 28px;
    .footer-2-header{
      font-weight: bold;
      font-size: 16px;
    }
    .footer-2-list{
      text-align: left;
      list-style: none;
      padding-top: 0px;
      padding-left: 0px;
      margin-bottom: 15px;
      li {
        margin-bottom: 5px;
        a{
          color: white !important;
        }
        &:before {
          content: '>';
          padding-right: 5px;
          display: inline-block;
        }
      }
    }
  }
  .group-footer-3{
    font-size: 13px;
    img{
      width: 100%;
      padding: 15px !important;
    }
    .copy-right{
      img{
        width: 85px;
      }
    }
  }
}

@media (min-width: 992px){
  .panel-wrap {
    .panel-heading {
      .panel-title {
        &::after {
          content: '';
          position: absolute;
          width: 2px;
          height: 20px;
          background: white;
          top: 4px;
          right: 8px;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .panel-wrap{
    .panel-heading{
      .form-search-heading{
        width:92px;
      }
    }
    .panel-body{
      .table{
        thead{
          tr{
            font-size: 8px !important;
          }
        }
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1200px){
  .panel-wrap{
    .panel-heading{
      .form-search-heading{
        width:80px;
      }
    }
  }
}
.container-group{
  background: $gray-color;
  border-radius: 10px;
}